@* @using System.Web.Helpers

@model List<MvcApplication1.Models.demo> *@
@{
    ViewData["Title"] = "Home Page";
    @* var grid = new WebGrid(source:Model, rowsPerPage:10); *@
}

<div class="text-center">
    <h1 class="display-4">Provident Fund Management</h1>
    <p>Copyright@Harris Web Works</p>
</div>

@* @grid.GetHtml(

    columns:grid.Columns(
        grid.Column(columnName:"Name", header:"name")
    )
) *@